<div class="message-container">
  <h4 class="message-sender">David Atternbourgh</h4>
  <p class="message-time">16:09</p>
  <p class="message-recepients">to Jessica, Pardon</p>
  <div class="message-number">
    <p class="message-number">3</p>
  </div>
  <p class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent iaculis leo augue. Ut justo enim, eleifend eget mattis at, pretium vitae est. Cras eleifend non tortor at lacinia. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus ac efficitur tortor, vel efficitur velit.</p>
</div>