@import '../../../variables';
/* Hide scrollbar for Chrome, Safari and Opera */
ul::-webkit-scrollbar {
  display: none;
}
ul {
  list-style-type: none;
  position: absolute;
  left: 0;
  bottom: -357.5px;
  right: 0;
  height: 348px;
  width: 608px;
  overflow: scroll;
  background-color: $ligh-background-color;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  z-index: 2;

  li {
    padding: 1rem 2rem;
    
    &:hover {
      background-color: $light-gray-color;
      cursor: pointer;
    }

    p {
      margin: 0;
    }
  }
}
