$primary-color: #9b9b9b;
$ligh-background-color: #ffffff;
$dark-background-color: #d0cfd4;
$accent-color: #2fb9db;
$dark-accent-color: #4e4580;
$dark-gray-color: #616161;
$light-gray-color: #ededed;
$font: 'Roboto', sans-serif